<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.bi.mapper.EnumCategoryPOMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.EnumCategoryPO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="enum_category_enable" property="enumCategoryEnable" jdbcType="TINYINT"/>
        <result column="is_system" property="isSystem" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="DATE"/>
        <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="dblink" property="DBlink" jdbcType="VARCHAR"/>
        <result column="enum_category_sql" property="enumCategorySql" jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="BaseResultMapDTO" type="com.yijiupi.bi.dto.EnumCategoryDTO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="category_code" property="categoryCode" jdbcType="VARCHAR"/>
        <result column="enum_category_enable" property="enumCategoryEnable" jdbcType="TINYINT"/>
        <result column="is_system" property="isSystem" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="DATE"/>
        <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="dblink" property="DBlink" jdbcType="VARCHAR"/>
        <result column="enum_category_sql" property="enumCategorySql" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        category_name,
        category_code,
        enum_category_enable,
        is_system,
        create_time,
        create_user,
        last_update_time,
        last_update_user,
        is_delete,
        dblink,
        enum_category_sql
    </sql>
    

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="record.id">
        INSERT INTO enum_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.categoryName!=null"> category_name,</if>
            <if test="record.categoryCode!=null"> category_code,</if>
            <if test="record.enumCategoryEnable!=null"> enum_category_enable,</if>
            <if test="record.isSystem!=null"> is_system,</if>
            <if test="record.createTime!=null"> create_time,</if>
            <if test="record.createUser!=null"> create_user,</if>
            <if test="record.lastUpdateTime!=null"> last_update_time,</if>
            <if test="record.lastUpdateUser!=null"> last_update_user,</if>
            <if test="record.isDelete!=null"> is_delete,</if>
            <if test="record.DBlink!=null"> dblink,</if>
            <if test="record.enumCategorySql!=null"> enum_category_sql,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="record.categoryName!=null">#{record.categoryName,jdbcType=VARCHAR},
            </if>
            <if test="record.categoryCode!=null">#{record.categoryCode,jdbcType=VARCHAR},
            </if>
            <if test="record.enumCategoryEnable!=null">#{record.enumCategoryEnable,jdbcType=TINYINT},
            </if>
            <if test="record.isSystem!=null">#{record.isSystem,jdbcType=TINYINT},
            </if>
            <if test="record.createTime!=null">#{record.createTime,jdbcType=DATE},
            </if>
            <if test="record.createUser!=null">#{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.lastUpdateTime!=null">#{record.lastUpdateTime,jdbcType=DATE},
            </if>
            <if test="record.lastUpdateUser!=null">#{record.lastUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete!=null">#{record.isDelete,jdbcType=TINYINT},
            </if>
            <if test="record.DBlink!=null">#{record.DBlink,jdbcType=VARCHAR},
            </if>
            <if test="record.enumCategorySql!=null">#{record.enumCategorySql,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO enum_category (
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (
            #{record.id,jdbcType=INTEGER},
            #{record.categoryName,jdbcType=VARCHAR},
            #{record.categoryCode,jdbcType=VARCHAR},
            #{record.enumCategoryEnable,jdbcType=TINYINT},
            #{record.isSystem,jdbcType=TINYINT},
            #{record.createTime,jdbcType=DATE},
            #{record.createUser,jdbcType=VARCHAR},
            #{record.lastUpdateTime,jdbcType=DATE},
            #{record.lastUpdateUser,jdbcType=VARCHAR},
            #{record.isDelete,jdbcType=TINYINT},
            #{record.DBlink,jdbcType=VARCHAR},
            #{record.enumCategorySql,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

</mapper>

