<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiupi.bi.mapper.FrFolderentryMapper">
    <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.FrFolderentry">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parent" jdbcType="INTEGER" property="parent"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="sortindex" jdbcType="BIGINT" property="sortindex"/>
        <result column="mobileDeviceConfig" jdbcType="INTEGER" property="mobiledeviceconfig"/>
        <result column="parentDeviceConfig" jdbcType="INTEGER" property="parentdeviceconfig"/>
        <result column="mobileCoverId" jdbcType="VARCHAR" property="mobilecoverid"/>
    </resultMap>

    <resultMap id="treeResultMap" type="com.yijiupi.bi.entity.FrFolderMenu">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="parentId" jdbcType="INTEGER" property="parentId"/>
        <result column="text" jdbcType="VARCHAR" property="text"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="sortindex" jdbcType="BIGINT" property="sortIndex"/>
        <result column="iconCls" jdbcType="VARCHAR" property="iconCls"/>
        <result column="parameters" jdbcType="VARCHAR" property="parameters"/>
        <result column="isView" jdbcType="INTEGER" property="isView"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, parent, name, description, sortindex, mobileDeviceConfig, parentDeviceConfig, 
    mobileCoverId
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fr_folderentry
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="loadAllMenu" resultMap="treeResultMap">
        SELECT
            c.NAME AS TEXT,
            c.id AS id,
            c.parent AS parentId,
            "" AS url,
            c.sortindex AS sortindex,
            "" as parameters,
            ic.clsId AS iconCls,
            icm.updateUser AS updateUser,
            icm.updateTime AS updateTime,
            0 as isView,
            0 as type
        FROM
            fr_folderentry c
            LEFT JOIN iconCls_menu icm ON icm.entryid=c.`id` and icm.menuType=0
            LEFT JOIN iconCls ic ON ic.id=icm.iconClsId
        WHERE
            c.mobileDeviceConfig IN (1, 3, 5, 7)
        UNION ALL
        SELECT
            b.NAME AS TEXT,
            b.id AS id,
            b.parent AS parentId,
            b.reportletPath AS url,
            b.sortindex AS sortindex,
            b.transmitParameters as parameters,
            ic.clsId AS iconCls,
            icm.updateUser AS updateUser,
            icm.updateTime AS updateTime,
            b.isView as isView,
            2 as type
        FROM
            fr_reportletentry b
            LEFT JOIN iconCls_menu icm ON icm.entryid=b.`id`and icm.menuType=2
            LEFT JOIN iconCls ic ON ic.id=icm.iconClsId
        WHERE
            b.mobileDeviceConfig IN (1, 3, 5, 7)
        UNION ALL
        SELECT
            f.NAME AS TEXT,
            f.id AS id,
            f.parent AS parentId,
            f.url AS url,
            f.sortindex AS sortindex,
             "" as parameters,
            ic.clsId AS iconCls,
            icm.updateUser AS updateUser,
            icm.updateTime AS updateTime,
            0 as isView,
            3 as type
        FROM
            fr_urlentry f
            LEFT JOIN iconCls_menu icm ON icm.entryid=f.`id` and icm.menuType=3
            LEFT JOIN iconCls ic ON ic.id=icm.iconClsId
        WHERE
            f.mobileDeviceConfig IN (1, 3, 5, 7)
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fr_folderentry
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.yijiupi.bi.entity.FrFolderentry">
        insert into fr_folderentry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parent != null">
                parent,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="sortindex != null">
                sortindex,
            </if>
            <if test="mobiledeviceconfig != null">
                mobileDeviceConfig,
            </if>
            <if test="parentdeviceconfig != null">
                parentDeviceConfig,
            </if>
            <if test="mobilecoverid != null">
                mobileCoverId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parent != null">
                #{parent,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="sortindex != null">
                #{sortindex,jdbcType=BIGINT},
            </if>
            <if test="mobiledeviceconfig != null">
                #{mobiledeviceconfig,jdbcType=INTEGER},
            </if>
            <if test="parentdeviceconfig != null">
                #{parentdeviceconfig,jdbcType=INTEGER},
            </if>
            <if test="mobilecoverid != null">
                #{mobilecoverid,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yijiupi.bi.entity.FrFolderentry">
        update fr_folderentry
        <set>
            <if test="parent != null">
                parent = #{parent,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="sortindex != null">
                sortindex = #{sortindex,jdbcType=BIGINT},
            </if>
            <if test="mobiledeviceconfig != null">
                mobileDeviceConfig = #{mobiledeviceconfig,jdbcType=INTEGER},
            </if>
            <if test="parentdeviceconfig != null">
                parentDeviceConfig = #{parentdeviceconfig,jdbcType=INTEGER},
            </if>
            <if test="mobilecoverid != null">
                mobileCoverId = #{mobilecoverid,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yijiupi.bi.entity.FrFolderentry">
    update fr_folderentry
    set parent = #{parent,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sortindex = #{sortindex,jdbcType=BIGINT},
      mobileDeviceConfig = #{mobiledeviceconfig,jdbcType=INTEGER},
      parentDeviceConfig = #{parentdeviceconfig,jdbcType=INTEGER},
      mobileCoverId = #{mobilecoverid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>