<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiupi.bi.mapper.IconclsMenuMapper">
    <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.IconclsMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="entryid" jdbcType="BIGINT" property="entryid"/>
        <result column="iconclsid" jdbcType="BIGINT" property="iconclsid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, entryid,menuType,iconclsid,updateUser,updateTime
  </sql>
    <insert id="upsertIconByEntryId">
    insert into iconcls_menu (entryid,menuType,iconclsid,updateUser,updateTime)
    values (
    #{entryid,jdbcType=BIGINT},
    #{menuType,jdbcType=INTEGER},
    #{iconclsid,jdbcType=BIGINT},
    #{updateUser,jdbcType=VARCHAR},
    #{updateTime,jdbcType=TIMESTAMP}
    )
      on duplicate key update
      iconClsId=#{iconclsid,jdbcType=BIGINT},
      menuType=#{menuType,jdbcType=INTEGER},
      updateUser=#{updateUser,jdbcType=VARCHAR},
      updateTime=#{updateTime,jdbcType=TIMESTAMP}
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from iconcls_menu
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from iconcls_menu
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.yijiupi.bi.entity.IconclsMenu">
        insert into iconcls_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="entryid != null">
                entryid,
            </if>
            <if test="iconclsid != null">
                iconClsId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="entryid != null">
                #{entryid,jdbcType=BIGINT},
            </if>
            <if test="iconclsid != null">
                #{iconclsid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yijiupi.bi.entity.IconclsMenu">
        update iconcls_menu
        <set>
            <if test="entryid != null">
                entryid = #{entryid,jdbcType=BIGINT},
            </if>
            <if test="iconclsid != null">
                iconClsId = #{iconclsid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yijiupi.bi.entity.IconclsMenu">
    update iconcls_menu
    set entryid = #{entryid,jdbcType=BIGINT},
      iconClsId = #{iconclsid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>