.icon-preview a {
    line-height: 16px;
    width: 16px;
    height: 16px;
    display: block;
    margin: 5px;
    text-align: center;
    float: left;
}

.icon-preview a:hover {
    cursor: pointer;
    box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -weblit-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
}

.icon_active {
    box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -weblit-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5), 0 4px 28px 6px rgba(0, 0, 0, 0.2);
}

.replace-icon-btn {
    border: 1px solid #bbb;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    margin: 5px 0px 5px 20px;
    padding: 3px;
    cursor: pointer;
    outline: none;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    color: #444;
    border-radius: 5px 5px 5px 5px;
    background-repeat: repeat-x;
}

.replace-icon-btn:hover {
    background-color: rgba(136, 136, 136, 0.3);
}