<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yijiupi.bi.mapper.EnumValuePOMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.EnumValuePO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryID" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="enum_text" property="enumText" jdbcType="VARCHAR"/>
        <result column="enum_value" property="enumValue" jdbcType="VARCHAR"/>
        <result column="is_system" property="isSystem" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="DATE"/>
        <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <resultMap id="BaseResultMapDTO" type="com.yijiupi.bi.dto.EnumValueDTO">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="category_id" property="categoryID" jdbcType="INTEGER"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="enum_text" property="enumText" jdbcType="VARCHAR"/>
        <result column="enum_value" property="enumValue" jdbcType="VARCHAR"/>
        <result column="is_system" property="isSystem" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="last_update_time" property="lastUpdateTime" jdbcType="DATE"/>
        <result column="last_update_user" property="lastUpdateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        category_id,
        category_name,
        enum_text,
        enum_value,
        is_system,
        create_time,
        create_user,
        last_update_time,
        last_update_user,
        is_delete
    </sql>



    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="record.id">
        INSERT INTO enum_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.categoryID!=null"> category_id,</if>
            <if test="record.categoryName!=null"> category_name,</if>
            <if test="record.enumText!=null"> enum_text,</if>
            <if test="record.enumValue!=null"> enum_value,</if>
            <if test="record.isSystem!=null"> is_system,</if>
            <if test="record.createTime!=null"> create_time,</if>
            <if test="record.createUser!=null"> create_user,</if>
            <if test="record.lastUpdateTime!=null"> last_update_time,</if>
            <if test="record.lastUpdateUser!=null"> last_update_user,</if>
            <if test="record.isDelete!=null"> is_delete,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="record.categoryID!=null">#{record.categoryID,jdbcType=INTEGER},
            </if>
            <if test="record.categoryName!=null">#{record.categoryName,jdbcType=VARCHAR},
            </if>
            <if test="record.enumText!=null">#{record.enumText,jdbcType=VARCHAR},
            </if>
            <if test="record.enumValue!=null">#{record.enumValue,jdbcType=VARCHAR},
            </if>
            <if test="record.isSystem!=null">#{record.isSystem,jdbcType=TINYINT},
            </if>
            <if test="record.createTime!=null">#{record.createTime,jdbcType=DATE},
            </if>
            <if test="record.createUser!=null">#{record.createUser,jdbcType=VARCHAR},
            </if>
            <if test="record.lastUpdateTime!=null">#{record.lastUpdateTime,jdbcType=DATE},
            </if>
            <if test="record.lastUpdateUser!=null">#{record.lastUpdateUser,jdbcType=VARCHAR},
            </if>
            <if test="record.isDelete!=null">#{record.isDelete,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO enum_value (
        <include refid="Base_Column_List"/>
        )VALUES
        <foreach collection="records" item="record" index="index" separator=",">
            (
            #{record.id,jdbcType=INTEGER},
            #{record.categoryID,jdbcType=INTEGER},
            #{record.categoryName,jdbcType=VARCHAR},
            #{record.enumText,jdbcType=VARCHAR},
            #{record.enumValue,jdbcType=VARCHAR},
            #{record.isSystem,jdbcType=TINYINT},
            #{record.createTime,jdbcType=DATE},
            #{record.createUser,jdbcType=VARCHAR},
            #{record.lastUpdateTime,jdbcType=DATE},
            #{record.lastUpdateUser,jdbcType=VARCHAR},
            #{record.isDelete,jdbcType=TINYINT}
            )
        </foreach>
    </insert>




</mapper>

