<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiupi.bi.mapper.FrDepartmentPostUserMapper">
    <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.FrDepartmentPostUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="Userid" jdbcType="BIGINT" property="userid"/>
        <result column="Departmentid" jdbcType="BIGINT" property="departmentid"/>
        <result column="Postid" jdbcType="BIGINT" property="postid"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, Userid, Departmentid, Postid
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fr_t_department_post_user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fr_t_department_post_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insertSelective" parameterType="com.yijiupi.bi.entity.FrDepartmentPostUser">
        insert into fr_t_department_post_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userid != null">
                Userid,
            </if>
            <if test="departmentid != null">
                Departmentid,
            </if>
            <if test="postid != null">
                Postid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=BIGINT},
            </if>
            <if test="departmentid != null">
                #{departmentid,jdbcType=BIGINT},
            </if>
            <if test="postid != null">
                #{postid,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yijiupi.bi.entity.FrDepartmentPostUser">
        update fr_t_department_post_user
        <set>
            <if test="userid != null">
                Userid = #{userid,jdbcType=BIGINT},
            </if>
            <if test="departmentid != null">
                Departmentid = #{departmentid,jdbcType=BIGINT},
            </if>
            <if test="postid != null">
                Postid = #{postid,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yijiupi.bi.entity.FrDepartmentPostUser">
    update fr_t_department_post_user
    set Userid = #{userid,jdbcType=BIGINT},
      Departmentid = #{departmentid,jdbcType=BIGINT},
      Postid = #{postid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>