<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiupi.bi.mapper.FrReportletentryMapper">
  <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.FrReportletentry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="reportletPath" jdbcType="VARCHAR" property="reportletpath" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="isView" jdbcType="INTEGER" property="isview" />
    <result column="transmitParameters" jdbcType="VARCHAR" property="transmitparameters" />
    <result column="sortindex" jdbcType="BIGINT" property="sortindex" />
    <result column="mobileDeviceConfig" jdbcType="INTEGER" property="mobiledeviceconfig" />
    <result column="parentDeviceConfig" jdbcType="INTEGER" property="parentdeviceconfig" />
    <result column="mobileCoverId" jdbcType="VARCHAR" property="mobilecoverid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent, name, reportletPath, description, isView, transmitParameters, sortindex, 
    mobileDeviceConfig, parentDeviceConfig, mobileCoverId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fr_reportletentry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fr_reportletentry
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.yijiupi.bi.entity.FrReportletentry">
    insert into fr_reportletentry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="reportletpath != null">
        reportletPath,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isview != null">
        isView,
      </if>
      <if test="transmitparameters != null">
        transmitParameters,
      </if>
      <if test="sortindex != null">
        sortindex,
      </if>
      <if test="mobiledeviceconfig != null">
        mobileDeviceConfig,
      </if>
      <if test="parentdeviceconfig != null">
        parentDeviceConfig,
      </if>
      <if test="mobilecoverid != null">
        mobileCoverId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="reportletpath != null">
        #{reportletpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isview != null">
        #{isview,jdbcType=INTEGER},
      </if>
      <if test="transmitparameters != null">
        #{transmitparameters,jdbcType=VARCHAR},
      </if>
      <if test="sortindex != null">
        #{sortindex,jdbcType=BIGINT},
      </if>
      <if test="mobiledeviceconfig != null">
        #{mobiledeviceconfig,jdbcType=INTEGER},
      </if>
      <if test="parentdeviceconfig != null">
        #{parentdeviceconfig,jdbcType=INTEGER},
      </if>
      <if test="mobilecoverid != null">
        #{mobilecoverid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yijiupi.bi.entity.FrReportletentry">
    update fr_reportletentry
    <set>
      <if test="parent != null">
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="reportletpath != null">
        reportletPath = #{reportletpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isview != null">
        isView = #{isview,jdbcType=INTEGER},
      </if>
      <if test="transmitparameters != null">
        transmitParameters = #{transmitparameters,jdbcType=VARCHAR},
      </if>
      <if test="sortindex != null">
        sortindex = #{sortindex,jdbcType=BIGINT},
      </if>
      <if test="mobiledeviceconfig != null">
        mobileDeviceConfig = #{mobiledeviceconfig,jdbcType=INTEGER},
      </if>
      <if test="parentdeviceconfig != null">
        parentDeviceConfig = #{parentdeviceconfig,jdbcType=INTEGER},
      </if>
      <if test="mobilecoverid != null">
        mobileCoverId = #{mobilecoverid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yijiupi.bi.entity.FrReportletentry">
    update fr_reportletentry
    set parent = #{parent,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      reportletPath = #{reportletpath,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      isView = #{isview,jdbcType=INTEGER},
      transmitParameters = #{transmitparameters,jdbcType=VARCHAR},
      sortindex = #{sortindex,jdbcType=BIGINT},
      mobileDeviceConfig = #{mobiledeviceconfig,jdbcType=INTEGER},
      parentDeviceConfig = #{parentdeviceconfig,jdbcType=INTEGER},
      mobileCoverId = #{mobilecoverid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>