<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yijiupi.bi.mapper.FrTUepMapper">
  <resultMap id="BaseResultMap" type="com.yijiupi.bi.entity.FrTUep">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="entryid" jdbcType="BIGINT" property="entryid" />
    <result column="view" jdbcType="BIGINT" property="view" />
    <result column="authorized" jdbcType="BIGINT" property="authorized" />
    <result column="edit" jdbcType="BIGINT" property="edit" />
    <result column="export" jdbcType="BIGINT" property="export" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, type, entryid, view, authorized, edit, export
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fr_t_uep
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fr_t_uep
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="com.yijiupi.bi.entity.FrTUep">
    insert into fr_t_uep
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="entryid != null">
        entryid,
      </if>
      <if test="view != null">
        view,
      </if>
      <if test="authorized != null">
        authorized,
      </if>
      <if test="edit != null">
        edit,
      </if>
      <if test="export != null">
        export,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="entryid != null">
        #{entryid,jdbcType=BIGINT},
      </if>
      <if test="view != null">
        #{view,jdbcType=BIGINT},
      </if>
      <if test="authorized != null">
        #{authorized,jdbcType=BIGINT},
      </if>
      <if test="edit != null">
        #{edit,jdbcType=BIGINT},
      </if>
      <if test="export != null">
        #{export,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yijiupi.bi.entity.FrTUep">
    update fr_t_uep
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="entryid != null">
        entryid = #{entryid,jdbcType=BIGINT},
      </if>
      <if test="view != null">
        view = #{view,jdbcType=BIGINT},
      </if>
      <if test="authorized != null">
        authorized = #{authorized,jdbcType=BIGINT},
      </if>
      <if test="edit != null">
        edit = #{edit,jdbcType=BIGINT},
      </if>
      <if test="export != null">
        export = #{export,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yijiupi.bi.entity.FrTUep">
    update fr_t_uep
    set userid = #{userid,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      entryid = #{entryid,jdbcType=BIGINT},
      view = #{view,jdbcType=BIGINT},
      authorized = #{authorized,jdbcType=BIGINT},
      edit = #{edit,jdbcType=BIGINT},
      export = #{export,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>